@import url('../public/reset.css');
@import url('../public/btn.css');

html {
}

body {
  font-family: "微软雅黑", "黑体", Hei,'Helvetica Neue',Helvetica,Arial,Sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #698ebf;
}
a:hover {
  text-decoration: underline;
}

.container {
  width: 940px;
  margin: 50px auto 0 auto;
}

.invite-panel-wrap {
  border: 1px #eee solid;
  padding: 10px;
  border-radius: 4px;
  border-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.invite-panel-title {
  padding-top: 10px;
}

.text {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.text:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

span.invite-status {
  display: inline-block;
  font-size: 14px;
  color: #999;
}
span.invite-status a {
}
span.invite-status i {
  font-style: normal;
}

.invite-panel-wrap h3 {
  padding: 20px 0 10px 0;
  font-size: 16px;
}

/*
text-overflow: ellipsis;
*/

ul.invite-suggest-persons {
  list-style: none;
  overflow: hidden;
  clear: both;
}
ul.invite-suggest-persons li {
  padding: 10px 0 30px 0;
  float: left;
  width: 50%;
  overflow: hidden;
}
ul.invite-suggest-persons li a.invite-uavatar {
  display: inline-block;
  float: left;
  margin-right: 12px;
}
ul.invite-suggest-persons li a.invite-uavatar img {
  display: block;
  float: left;
  width: 45px;
  height: 45px;
}
ul.invite-suggest-persons li .invite-uinfo {
  width: 385px;
  float: left;
}
ul.invite-suggest-persons li.odd .nvite-uavatar {
}
ul.invite-suggest-persons li.even .invite-uavatar {
  margin-left: 12px;
}
ul.invite-suggest-persons li .invite-uinfo button {
  display: inline-block;
  float: right;
  margin: 0;
}

